header .container .card,
footer .container .card {
  height: 110px;
}

.hero-banner div[class*="side-"] .card {
  height: 120px;
  margin-top: 1.5rem;
}

.hero-banner .side-center .col-lg-6 .card {
  height: 180px;
  margin-top: 1.5rem;
}

.hero-banner .side-center .col-lg-9 .card,
.hero-banner .side-center .col-lg-3 .card,
.hero-banner .side-center .col-lg-4 .card {
  height: 90px;
  margin-top: 1.5rem;
}

.hero-banner .side-right .col-lg-12:first-of-type .card {
  height: 90px;
  margin-top: 1.5rem;
}

.hero-banner .side-right .col-lg-12:last-of-type .card {
  height: 294px;
  margin-top: 1.5rem;
}
